@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes goyang {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(0);
	}
}
